.header {
  max-width: 100%;
  background-color: rgb(129, 235, 16);
  height: 3rem;
  margin-top: 0%;
  display: flex;
  padding-left: 2rem;
  justify-content: space-evenly;
  padding-inline-start: 2rem;
  list-style: none;
}
